@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #E4E1DA; }

header {
  position: sticky;
  top: 0; }
  header div {
    background-color: #141414;
    height: 100px; }
    header div .parte-superior {
      display: flex;
      justify-content: space-between; }
      header div .parte-superior a {
        text-decoration: none;
        list-style: none; }
        header div .parte-superior a h1 {
          font-size: 35px;
          color: white;
          font-family: "Zilla Slab", serif;
          font-weight: 400;
          font-style: normal;
          margin: 30px 80px; }
      header div .parte-superior .carrito #carrito-img {
        margin: 35px 102px;
        width: 30px;
        height: 30px;
        cursor: pointer; }
      header div .parte-superior .carrito .contador {
        margin: 30px 100px;
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #524f4f;
        color: white;
        border-radius: 60%;
        padding: 5px 10px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center; }
    header div .parte-inferior {
      padding: 25px;
      background-color: #393C41; }
      header div .parte-inferior ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: center; }
        header div .parte-inferior ul li {
          text-decoration: none;
          padding: 20px; }
          header div .parte-inferior ul li a {
            color: #fff;
            font-weight: bold;
            text-decoration: none; }
            header div .parte-inferior ul li a:hover {
              color: black; }

.oculto {
  display: none; }

.visible {
  display: block; }
  .visible #carrito {
    justify-content: flex-end;
    position: fixed;
    background-color: black;
    width: 27%;
    right: 0px; }
    .visible #carrito h2 {
      height: 100px;
      color: white;
      font-size: 25px;
      text-align: center;
      align-items: center;
      padding: 30px; }
    .visible #carrito ul #carrito-items {
      list-style: none;
      justify-content: right;
      overflow-y: auto;
      max-height: 405px; }
      .visible #carrito ul #carrito-items .carrito-item {
        width: 100%;
        margin-top: 0px;
        background-color: #76787c;
        border: solid black; }
        .visible #carrito ul #carrito-items .carrito-item div {
          background-color: #95979b;
          width: auto;
          justify-content: center;
          display: grid;
          grid-template-columns: 100px 290px 110px;
          grid-template-rows: 40px 62px; }
          .visible #carrito ul #carrito-items .carrito-item div img {
            margin-left: 7px;
            width: 110px;
            height: 95px;
            grid-template-columns: 1/2;
            grid-row: 1/3; }
          .visible #carrito ul #carrito-items .carrito-item div h5 {
            font-size: 18px;
            margin-left: 40px;
            margin-top: 20px;
            grid-column: 2/3;
            grid-row: 1/2; }
          .visible #carrito ul #carrito-items .carrito-item div p {
            margin-left: 40px;
            margin-top: 25px;
            grid-column: 2/3;
            grid-row: 2/3; }
          .visible #carrito ul #carrito-items .carrito-item div .eliminar {
            margin-left: 50px;
            margin-top: 25px;
            width: 30px;
            height: 30px;
            cursor: pointer; }
  .visible #finalizar {
    background-color: black;
    height: 150px; }
    .visible #finalizar #monto {
      background-color: black;
      display: flex;
      justify-content: space-between;
      height: 50px; }
      .visible #finalizar #monto h3 {
        color: white;
        margin-left: 25px;
        margin-top: 15px; }
      .visible #finalizar #monto p {
        margin-top: 15px;
        color: white;
        margin-right: 25px; }
    .visible #finalizar .linea {
      background-color: white;
      width: 550px;
      height: 1px; }
    .visible #finalizar input {
      width: 300px;
      margin-left: 120px;
      margin-top: 30px;
      justify-content: center;
      height: 50px; }
      .visible #finalizar input:hover {
        background-color: #393C41; }

.confirmado {
  background-color: #232523 !important;
  color: white !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px; }

footer {
  background-color: #6A6D72;
  display: flex;
  padding: 20px; }
  footer section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 80px; }
    footer section .copyright h4 {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      color: #111010; }
    footer section div {
      flex-direction: column;
      margin: 30px 120px; }
      footer section div h3 {
        font-weight: bold;
        color: #111010; }
      footer section div p {
        margin-top: 10px;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal; }
  footer .logos {
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center; }
    footer .logos ul {
      list-style: none;
      display: flex;
      margin-right: 140px; }
      footer .logos ul li img {
        width: 50px;
        height: 50px;
        margin: 20px;
        margin-top: 10px; }

main {
  background-color: #E4E1DA; }
  main section h2 {
    font-size: 50px;
    text-align: center;
    margin: 50px 0px; }
  main section #productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    main section #productos div {
      background-color: #adabab;
      margin: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column; }
      main section #productos div img {
        height: auto;
        width: 400px;
        padding: 5px; }
      main section #productos div div {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: 80px 50px; }
        main section #productos div div h5 {
          font-size: 25px;
          grid-column: 1/3;
          grid-row: 1/2; }
        main section #productos div div p {
          font-size: 25px;
          grid-column: 1/2;
          grid-row: 2/3;
          margin-top: 10px; }
        main section #productos div div input {
          padding: 5px;
          background-color: #797676;
          grid-column: 2/3;
          grid-row: 2/3;
          border-radius: 8px;
          justify-content: center;
          font-size: 15px;
          align-items: center;
          font-family: "Yeseva One", serif;
          font-weight: 400;
          font-style: normal;
          cursor: pointer; }
  main div h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 100px; }
  main div .logos {
    display: flex;
    justify-content: center;
    margin-top: 50px; }
    main div .logos img {
      width: 280px;
      height: 180px;
      margin: 20px; }

main #productos-hombre {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  main #productos-hombre div {
    background-color: #adabab;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; }
    main #productos-hombre div img {
      height: auto;
      width: 400px;
      padding: 5px; }
    main #productos-hombre div div {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(2, 180px);
      grid-template-rows: 80px 50px; }
      main #productos-hombre div div h5 {
        font-size: 25px;
        grid-column: 1/3;
        grid-row: 1/2; }
      main #productos-hombre div div p {
        font-size: 25px;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 10px; }
      main #productos-hombre div div input {
        padding: 5px;
        background-color: #797676;
        grid-column: 2/3;
        grid-row: 2/3;
        border-radius: 8px;
        justify-content: center;
        font-size: 15px;
        align-items: center;
        font-family: "Yeseva One", serif;
        font-weight: 400;
        font-style: normal;
        cursor: pointer; }

main #productos-mujer {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  main #productos-mujer div {
    background-color: #adabab;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; }
    main #productos-mujer div img {
      height: auto;
      width: 400px;
      padding: 5px; }
    main #productos-mujer div div {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(2, 180px);
      grid-template-rows: 80px 50px; }
      main #productos-mujer div div h5 {
        font-size: 25px;
        grid-column: 1/3;
        grid-row: 1/2; }
      main #productos-mujer div div p {
        font-size: 25px;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 10px; }
      main #productos-mujer div div input {
        padding: 5px;
        background-color: #797676;
        grid-column: 2/3;
        grid-row: 2/3;
        border-radius: 8px;
        justify-content: center;
        font-size: 15px;
        align-items: center;
        font-family: "Yeseva One", serif;
        font-weight: 400;
        font-style: normal;
        cursor: pointer; }

main #productos-niños {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  main #productos-niños div {
    background-color: #adabab;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; }
    main #productos-niños div img {
      height: auto;
      width: 400px;
      padding: 5px; }
    main #productos-niños div div {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(2, 180px);
      grid-template-rows: 80px 50px; }
      main #productos-niños div div h5 {
        font-size: 25px;
        grid-column: 1/3;
        grid-row: 1/2; }
      main #productos-niños div div p {
        font-size: 25px;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 10px; }
      main #productos-niños div div input {
        padding: 5px;
        background-color: #797676;
        grid-column: 2/3;
        grid-row: 2/3;
        border-radius: 8px;
        justify-content: center;
        font-size: 15px;
        align-items: center;
        font-family: "Yeseva One", serif;
        font-weight: 400;
        font-style: normal;
        cursor: pointer; }

.conteiner {
  margin-top: 150px;
  height: auto;
  width: 100%;
  display: grid;
  place-content: center; }
  .conteiner .slide {
    width: 200vh;
    max-width: 1500px;
    height: auto;
    overflow: hidden; }
    .conteiner .slide ul {
      list-style: none;
      display: flex;
      padding: 0;
      width: 400%;
      animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92); }
      .conteiner .slide ul li img {
        width: 1500px; }

@keyframes slide {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

@media (max-width: 1440px) {
  main .conteiner .slide {
    max-width: 1200px;
    width: 180vh; }
    main .conteiner .slide ul li img {
      width: 1200px; }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr; }
    footer section {
      margin-left: 0px; }
    footer .logos ul {
      justify-content: right;
      margin-right: 20px; } }

@media (max-width: 1024px) {
  main .conteiner .slide {
    max-width: 1000px;
    width: 160vh; }
    main .conteiner .slide ul li img {
      width: 1000px; } }
