header{
    position:sticky;
    top: 0;
    div{
    background-color: rgb(20, 20, 20);
    height: 100px;
        .parte-superior{
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                list-style: none;
                h1{
                    font-size: 35px;
                    color: white;
                    font-family: "Zilla Slab", serif;
                    font-weight: 400;
                    font-style: normal;
                    margin: 30px 80px;
                }
            }
            .carrito{
                #carrito-img{
                    margin: 35px 102px;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
                .contador {
                    margin: 30px 100px;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: rgb(82, 79, 79);
                    color: white;
                    border-radius: 60%;
                    padding: 5px 10px;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }   
            }
        }
        .parte-inferior{
            padding: 25px;
            background-color: #393C41;
            ul{
                list-style: none;
                text-decoration: none;
                display: flex;
                
                justify-content: center;
                li{
                    
                    text-decoration: none;
                    
                    padding: 20px;
                    a{
                        color: #fff;
                        font-weight: bold;
                        text-decoration: none;
                        &:hover{
                            color: black;
                        }
                    }
                }
            }
            
        }
    }
    
}
.oculto{
    display: none;
}
.visible{
    display: block;
    position: sticky;
    #carrito{
        justify-content: flex-end;
        position:fixed;
        background-color: rgb(0, 0, 0);
        width: 27%;
        
        right: 0px;
        h2{
            height: 100px;
            color: white;
            font-size: 25px;
            text-align: center;
            align-items: center;
            padding: 30px;
        }
        ul{
            #carrito-items{
                list-style: none;
                justify-content: right;
                overflow-y: auto;
                max-height: 405px;
                    .carrito-item{
                        width: 100%;
                        
                        background-color: #76787c;
                        border: solid black;
                        div{
                            background-color: #95979b;
                            width: auto;
                            justify-content: center;
                            display: grid;
                            grid-template-columns: 100px 290px 110px;
                            grid-template-rows: 40px 60px;
                            
                            img{
                                margin-top: 1px;
                                margin-left: 7px;
                                width: 110px;
                                height: 95px;
                                grid-template-columns: 1/2;
                                grid-row: 1/3;
                            }
                            h5{
                                font-size: 18px;
                                margin-left: 40px;
                                margin-top: 20px;
                                grid-column: 2/3;
                                grid-row: 1/2;
                            }
                            p{
                                margin-left: 40px;
                                margin-top: 25px;
                                grid-column: 2/3;
                                grid-row: 2/3;
                                font-weight: bold;
                            }
                            .eliminar{
                                margin-left: 50px;
                                margin-top: 25px;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                            }
                        }
                        
                    }
                }
            }
        }
        #finalizar{
            background-color: black;
            height: 175px;
            #monto{
                background-color: black;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);;
                height: 50px;
                h3{
                    font-size: 21px;
                    grid-column: 1/2;
                    grid-row: 1/3;
                    color: white;
                    text-align: center;
                    margin-top: 25px;
                    margin-right: 80px;
                }
                #total{
                    grid-column: 2/3;
                    grid-row: 1/2;
                    text-align: center;
                    color: white;
                    margin-top: 25px;
                    margin-left: 25px;
                    font-size: 20px;
                }
                #precio-dolar{
                    margin-top: 5px;
                    grid-column: 2/3;
                    grid-row: 2/3;
                    color: rgb(102, 97, 97);
                    text-align: center;
                    margin-left: 25px;
                    font-weight: bold;
                }
            }
            .linea{
                margin-top: 40px;
                background-color: white;
                width: 550px;
                height: 1px;
            }
            div{
                background-color: black;
                display: flex;
                justify-content: center;
                input{
                    font-family: "Roboto", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    width: 300px;
                    margin-top: 20px;
                    justify-content: center;
                    height: 50px;
                    color: black;
                    &:hover{
                        background-color: #393C41;
                    }
                }
            }
        }
    }
    .confirmado{
        background-color: #232523 !important;
        color: white !important;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
    }
    
.carrito-vacio{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}