main{
    background-color: #E4E1DA;
    section{
        h2{
            font-size: 50px;
            text-align: center;
            margin: 50px 0px;
        }
        #productos{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div{
                background-color: rgb(173, 171, 171);
                margin: 20px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                img{
                    height: auto;
                    width: 400px;
                    padding: 5px;
                }
                div{
                    flex-grow: 1;
                    display: grid;
                    grid-template-columns: repeat(2,180px);
                    grid-template-rows: 80px 50px;
                    
                    h5{
                        font-size: 25px;
                        grid-column: 1/3;
                        grid-row: 1/2;
                        
                    }
                    p{
                        font-size: 25px;
                        grid-column: 1/2;
                        grid-row: 2/3;
                        margin-top: 10px;
                    }
                    input{
                        padding: 5px;
                        background-color: rgb(121, 118, 118);
                        grid-column: 2/3;
                        grid-row: 2/3;
                        border-radius: 8px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }   
        }
    }
    #carrito{
        h2{
            font-size: 50px;
        }
        ul{
            #carrito-items{
                .carrito-item{
                    background-color: #c0c0b9;
                    div{
                        justify-content: center;
                        display: grid;
                        grid-template-columns: 100px 290px 100px;
                        grid-template-rows: 40px 100px;
                        
                        img{
                            width: 120px;
                            height: 120px;
                            grid-template-columns: 1/2;
                            grid-row: 1/3;
                        }
                        h5{
                            font-size: 18px;
                            margin-left: 40px;
                            margin-top: 20px;
                            grid-column: 2/3;
                            grid-row: 1/2;
                        }
                        p{
                            margin-left: 40px;
                            margin-top: 25px;
                            grid-column: 2/3;
                            grid-row: 2/3;
                        }
                        input{
                            margin-top: 20px;
                            width: 80px;
                            height: 40px;
                            grid-row: 1/2;
                            grid-column: 3/4;
                        }
                    }
                }
            }
        }
    }
    div{
        h2{
            font-size: 50px;
            text-align: center;
            margin-top: 100px;
        }
        .logos{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            img{
                width: 280px;
                height: 180px;
                margin: 20px;
            }
        }
    }
}