.conteiner{
    margin-top: 150px;
    height: auto;
    width: 100%;
    display: grid;
    place-content: center;
    .slide{
        width: 200vh;
        max-width: 1500px;
        height: auto;
        overflow: hidden;
        ul{
            list-style: none;
            display: flex;
            padding: 0;
            width: 400%;
            animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
            li{
                img{
                    width: 1500px;
                }
            }
        }
    }
}
@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}