@media (max-width:1440px){
    main{
        .conteiner{
            .slide{
                max-width: 1200px;
                width: 180vh;
                ul{
                    li{
                        img{
                            width: 1200px;
                        }
                    }
                }
            }
        }
    }
    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
        section{
            margin-left: 0px;
        }
        .logos{
            ul{
                justify-content: right;
                margin-right: 20px;
            }
        }
    }
}