@media (max-width:510px){
    main{
        .conteiner{
            .slide{
                max-width: 450px;
                
                ul{
                    li{
                        img{
                            width: 450px;
                            
                        }
                    }
                }
            }
        }
    }
    div{
        h2{
            padding: 20px;
        }
    }
}