@media (max-width:490px){
    header{
        div{
            .parte-superior{
                a{
                    h1{
                        margin: 35px 60px;
                    }
                }
                .carrito{
                    #carrito-img{
                        margin: 35px 60px;
                    }
                    .contador{
                        margin: 30px 60px;
                    }
                }
            }
        }
    }
    .visible{
        #carrito{
            ul{
                #carrito-items{
                    .carrito-item{
                        div{
                            grid-template-columns: 89px 207px 122px;
                        }
                    }
                }
            }
        }
    }
}